; Copyright (c) 2023-2024 Antmicro <www.antmicro.com>
; SPDX-License-Identifier: Apache-2.0
[flake8]
ignore = E203, E266, E501, W503, F403, F405
max-line-length = 100
max-complexity = 27
select = B,C,E,F,W,T4,B9
exclude =
    .eggs,
    .git,
    .gitignore,
    .nox,
    .pytest_cache,
    __pycache__,
    venv,
    build,
    workspace,
count = True
show-source = True
statistics = True
