PyYaml
click
amaranth-yosys
git+https://github.com/amaranth-lang/amaranth
wasmtime==1.0.1
numexpr
hdlConvertor
git+https://github.com/antmicro/kenning-pipeline-manager-backend-communication.git

-r impl.requirements.txt
