CAPI=2:
name : ::{{top_name}}
description : project
filesets:
  rtl:
    files:{% for file in sources %}
      - {{file.filename}} : {file_type : {{file.type}}}{% endfor %}
targets:
  default:
    default_tool : vivado
    filesets : [rtl]
    hooks:
      pre_build :
        - set_jobs
    tools:
      vivado:
        part : {{part}}
    toplevel : {{top_name}}
scripts:
  set_jobs:
    cmd : [sed, -i, '"s/launch_runs synth_1/launch_runs synth_1 -jobs {{jobs}}/g"', {{top_name}}_0_synth.tcl]
