CAPI=2:
name : ::{{top_name}}
description : project
filesets:
{%- for fileset in filesets %}
  {{ fileset.label }}:
    files:
  {%- for file in fileset.sources %}
      - {{ file.filename }} : {file_type : {{ file.type }}}
  {%- endfor %}
{%- endfor %}

targets:
{%- for target in targets %}
  {{ target.name }}:
    default_tool : {{ target.default_tool }}
    filesets : [{% for file in target.filesets %}{{ file }}{{ "," if not loop.last }}{% endfor %}]
  {%- if target.hooks %}
    hooks:
    {%- for hook in target.hooks %}
      {{ hook.type }} :
      {%- for script in hook.scripts %}
        - {{ script }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
  {%- if target.tools %}
    tools:
    {%- for tool in target.tools %}
      {%- if tool.type == "vivado" %}
      vivado:
        part : {{ tool.part }}
    toplevel : {{ tool.toplevel }}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
{%- if scripts %}
scripts:
  {%- for script in scripts %}
  {{ script.label }}:
    cmd : [{% for arg in script.args %}{{ arg }}{{ ", " if not loop.last }}{% endfor %}]
  {%- endfor %}
{%- endif %}
