CAPI=2:
name : ::{{ top_name }}
description : project
filesets:
{%- for fileset in filesets %}
  {{ fileset.label }}:
    files:
  {%- for file in fileset.sources %}
      - {{ file.filename }} : {file_type : {{ file.type }}}
  {%- endfor %}
  {%- if fileset.depends %}
    depend:
    {%- for dep in fileset.depends %}
      - {{ dep.vendor }}:{{ dep.library }}:{{ dep.name }}{% if dep.version %}:{{dep.version}}{% endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}

targets:
{%- for target in targets %}
  {{ target.name }}:
    filesets : [{% for file in target.filesets %}{{ file }}{{ "," if not loop.last }}{% endfor %}]
  {%- if target.hooks %}
    hooks:
    {%- for hook in target.hooks %}
      {{ hook.type }} :
      {%- for script in hook.scripts %}
        - {{ script }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
    toplevel: {{ target.toplevel }}
  {%- if target.is_flow %}
    flow: {{ target.flow.type }}
    flow_options:
      tool: {{ target.flow.tool }}
    {%- if target.flow.tool == "verilator" %}
      mode: cc
      verilator_options: [-Wno-fatal, --main, --timing]
    {%- endif %}
      flow_make_options: [{% for opt in target.flow.make_options %}{{ opt }}{{ ", " if not loop.last }}{% endfor %}]
  {%- else %}
    default_tool : {{ target.tool.default_tool }}
    {%- if target.tool.tools %}
    tools:
      {%- for tool in target.tool.tools %}
        {%- if tool.type == "vivado" %}
      vivado:
        part: {{ tool.part }}
        {%- elif tool.type == "verilator" %}
      verilator:
        mode: cc
        verilator_options : [-Wno-fatal, --main, --timing]
        {%- endif %}
      {%- endfor %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{%- if scripts %}

scripts:
  {%- for script in scripts %}
  {{ script.label }}:
    cmd : [{% for arg in script.args %}{{ arg }}{{ ", " if not loop.last }}{% endfor %}]
  {%- endfor %}
{%- endif %}


